@media (min-width:320px) and (max-width:767px) {
    .navbar-toggler {       
        border:2px solid gray;        
    }
    header nav ul {
        gap: 15px;
    }
    header nav button {
        padding: 14px 20px;
        margin-top: 15px;
    }
    .navbar-collapse{
        text-align: center;
    }
    /* banner start */
    #banner_part .overlay {
        padding: 200px 0 150px 0;
    }
    #banner_part .overlay h1 {
        font-size: 30px;
        text-transform: capitalize;
    }
    #banner_part .overlay p {
        width: 100%;
        font-size: 15px;
    }
    #banner_part .overlay .banner_btn button {
        margin-top: 14px;
        padding: 15px 18px;
    }
    #banner_part .overlay .banner_btn :nth-child(2) {
        margin-left: 0px;
    }
    /* banner end */
    /* count start */
    #count_part img {
        display: none;
    }
    #count_part {
        padding: 100px 0;
    }
    #count_part .count_text h2 {
        font-size: 40px;
        line-height: 50px;
    }
    #count_part .count_text p {
        font-size: 16px;
        line-height: 25px;
    }
    #count_part .count_textlast h2 {
        font-size: 40px;
        line-height: 50px;
    }
    #count_part .count_textlast p {
        font-size: 16px;
        line-height: 25px;
    }
/* count end */
/* choose start */
#choose_part .chooseimg {
    display: none;
}
#choose_part {
    padding: 70px 0 60px;
}
#choose_part .choose_cart {
    width: auto;
    margin-bottom: 15px;
}
#choose_part .choose_cart .effectone {
    height: 20px;
    width: 20px;
}
#choose_part .choose_cart .effecttwo {
    height: 20px;
    width: 20px;
}
#choose_part .choose_cart p {
    max-width: 100%;
    font-size: 14px;
    margin-left: 20px;
}
#choose_part .right_text h3 {
    font-size: 38px;
}
#choose_part .right_text p {
    max-width: 100%;
    font-size: 14px;
}
#choose_part button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
}
/* choose end */
/* do start */
#do_part {
    padding: 45px 0;
}
#do_part .cardone h3 {
    font-size: 40px;
}
#do_part .cardone p {
    max-width: 100%;
    font-size: 14px;
}
#do_part button {
    margin: 25px;
    font-size: 16px;
    padding: 15px 21px;
}
#do_part .carditem h4 {
    font-size: 25px;
    margin-top: 20px;
}
#do_part .carditem p {
    max-width: 100%;
    font-size: 14px;
    margin: 14px auto;
}
/* do end */
/* real_impact start */
#real_impact {
    padding: 50px 0;
}
#real_impact .title h4 {
    font-size: 40px;
}
#real_impact .title p {
    font-size: 14px;
    line-height: 28px;
    width: 100%;
}
#real_impact .competitive {
    margin-top: 70px;
}
#real_impact .competitive .analysis .textanalysis {
    margin-left: 25px;
    width: 100%;
}
#real_impact .competitive .analysis .textanalysis h5 {
    font-size: 20px;
    margin-bottom: 12px;
}
#real_impact .competitive .analysis .textanalysis p {
    font-size: 14px;
    line-height: 28px;
    width: 100%;
}
#real_impact .competitive .realimage img{
    max-width: 100% ;
}
/* real_impact end */
/* choose start */
#right_plan {
    padding: 60px 0 70px;
}
#right_plan .choose_title h2 {
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 30px;
}
#right_plan .price .price_card {
    padding: 40px 0;
}
#right_plan .price .price_card img {
    width: auto;
}
#right_plan .price .price_card h6 {
    font-size: 40px;
}
#right_plan .price .price_card p {
    max-width: 100%;
    font-size: 16px;
}

/* choose end */
/* about us start */
#about_us {
    padding: 10px 0;
}
#about_us .about_title h2 {
    font-size: 30px;
    margin-bottom: 100px;
}
#about_us .about_slider .rating ul {
    padding-top: 99px;
}
#about_us .about_slider .rating p {
    font-size: 14px;
    line-height: 34px;
    max-width: 100%;
    margin-top: 25px;
}
#about_us .about_slider .designation {
    margin-top: 25px;
}
#about_us .prev_btn {
    height: 40px;
    width: 40PX;
    top: 207px;
    left: -20px;
}
#about_us .next_btn {
    background: #1BBF00;
    height: 40px;
    width: 40px;
    right: -17px;
    top: 205px;
}
/* about us end */
/* like part end */
#like_part {
    padding: 30px 0;
}
#like_part h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
#like_part .news {
    margin-left: 0;
}
#like_part .news ul {
    gap: 8px;
}
#like_part .news ul li {
    font-size: 14px;
    font-weight: 600;
}
#like_part .news h3 {
    font-size: 20px;
    line-height: 36px;
    width: 100%;
    margin: 10px 0;
}
#like_part .news a {
    font-size: 16px;
    margin-top: 10px;
}
/* like part end */
/* footer start */
footer {
    padding-top: 80px;
}
footer p {
    font-size: 14px;
    margin-top: 30px;
    width: 100%;
}
footer .footer_title h4 {
    font-size: 18px;
}
footer .footer_list li a {
    font-size: 14px;
    margin-top: 15px;
}
footer .footer_bottom p {
    font-size: 15px;
    line-height: 0;
}
/* footer end */

}
@media (min-width:768px) and (max-width:991px) {
   /* nav start */
    header nav ul {
        gap: 20px;
    }    
    header nav button {
        font-size: 17px;
        padding: 14px 22px;
        border-radius: 100px;
    }
    /* nav end */
    /* banner start */
    #banner_part .overlay {
        padding: 175px 0 100px 0;
    }
    #banner_part .overlay h1 {
        font-size: 55px;
        text-transform: capitalize;
    }
    #count_part img {
        width: 100px;
    }
    /* banner end */
    /* count start */
    #count_part {
        padding: 110px 0;
    }
    /* count end */
    /* choose start */
    #choose_part .chooseimg {
        width: 200px;
    }
    #choose_part .choose_cart {
        margin-bottom: 17px;
        width: auto;
    }
    #choose_part .choose_cart p {
        width: auto;
        font-size: 17px;
    }
    #choose_part .right_text h3 {
        font-size: 43px;
    }
    /* choose end */
    /* real impact */
    #real_impact {
        padding: 60px 0;
    }
    #real_impact .competitive .realimage img{
        max-width: 100% ;
    }
    #real_impact .competitive .analysis .textanalysis h5 {
        font-size: 22px;
    }
    #real_impact .competitive .analysis .textanalysis {
        margin-left: 20px;
    }
    #real_impact .competitive .analysis .textanalysis p {
        font-size: 16px;
        width: auto;
    }
    /* real impact */
    
    /* do part start */
    #do_part .cardone h3 {
        font-size: 40px;
    }
    #do_part .carditem p {
        width: auto;
        font-size: 14px;
        font-weight: 400;
        color: #726E9E;
        margin: 20px auto;
        font-family: "Paprika", serif;
    }
    #do_part .carditem h4 {
        font-size: 23px;
        line-height: 28px;
        margin-top: 25px;
    }
    /* do part end*/
    
    /* right plan start */
    #right_plan {
        padding: 57px 0 57px;
    }
    /* right plan end */
}